<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path=== '/admin/add-product' ? 'active':''%>"  href="/"/>Shop</li>
            <li class="main-header__item"><a class="<%= path=== '/' ? 'active':''%>" href="/admin/add-product"/>Add Product </li>
        </ul>
    </nav>
</header>